Source: decklink-debugger
Section: unknown
Priority: optional
Maintainer: Peter Körner <peter@mazdermind.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/decklink-debugger.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/decklink-debugger.git

Package: decklink-debugger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} libmicrohttpd10 libpng12-0 desktopvideo
Description: BlackMagic DeckLink Input-Debugger
 A tool to probe all inputs of all BlackMagic DeckLink-Cards in a Linux-System,
 detecting if a signal is present and which image-format it has, showing the
 results on the terminal and via HTTP on port 8042, allow capturing still-images.
